<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <test name="Computer Test" >
        <classes>
            <class name="com.demo.nopcommerce.testSuite.ComputerTest"></class>
        </classes>
    </test>
    <test name="HomePage Test" >
        <classes>
            <class name="com.demo.nopcommerce.testSuite.HomePageTest"></class>
        </classes>
    </test>
    <test name="Build You Computer" >
        <classes>
            <class name="com.demo.nopcommerce.testSuite.BuildYourComputerTest"></class>
        </classes>
    </test>
    <test name="Desktop" >
        <classes>
            <class name="com.demo.nopcommerce.testSuite.DeskTopTest"></class>
        </classes>
    </test>
</suite>
